{% load static %}

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Todo-App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div class="container" role="main">
        <div class="row">

            <div class="col-xs-2">
                <div class="d-md-flex" id="user">
                    <span class="hello-msg">Hello {{request.user}}</span>
                    <span class="hello-msg"><a href="{% url 'logout' %}">Logout</a></span>

                </div>
                <div id="my-day" type="button">
                    <img src="{% static 'images/day.png' %}" width="32" height="32">
                    <label type="button" id="my-day-label">My Day</label>
                </div>

                <div id="important" type="button">
                    <img src="{% static 'images/star.png' %}" width="32" height="32">
                    <label type="button" id="important-label">Important</label>
                </div>

                <div id="planned" type="button">
                    <img src="{%  static 'images/event-plan.png' %}" width="32" height="32">
                    <label type="button" id="planned-label">Planned</label>
                </div>

            </div>

            <div class="col-sm-4" id="center-column">
                <form method="POST" action="/">
                    {% csrf_token %}
                    {{form.title}}
                    <input class="btn btn-info" type="submit" name="Create Task">
                </form>

                <div class="todo-list">

                    {% for task in tasks %}

                    <div class="item-row">
                        <a class="btn btn-sm btn-info" href="{% url 'update_task' task.id %}">Update</a>
                        <a class="btn btn-sm btn-danger" href="{% url 'delete_task' task.id %}">Delete</a>
                        {% if task.isCompleted == True %}
                        <strike>{{task}}</strike>
                        {% else %}
                        <span>{{task}}</span>
                        {% endif %}

                    </div>
                    {% endfor %}

                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="formCheck-1">
                    <label class="form-check-label" id="task-name" for="formCheck-1">Task name</label>
                </div>
                <button class="btn btn-light border rounded d-flex d-md-flex flex-column justify-content-md-start align-items-md-center btn-sm"
                        id="add-to-myday" type="button">Add to My Day</button>
                <label for="due-date"> Add due date </label>
                <input class="border rounded border-secondary shadow form-control-sm d-flex due-date"
                       id="due-date" type="date" placeholder="Add due date" onfocus="(this.type=&#39;date&#39;)"
                       title="asd">
            </div>
        </div>
    </div>


</body>

</html>